body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    height: 100vh;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}
.card{
    background: #000000d0;
    color: white;
    border-radius: 3rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 25rem;
    margin: 1rem;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: .5rem;
    border-radius: 50%;
    padding: .4rem 0rem;
    border: none;
    outline: none;
    color: #7c7c7c2b;
    color: rgb(17, 16, 16);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    letter-spacing: .2rem;
}
input.search-bar{
    border: none;
    outline: none;
    padding: .4rem .1rem;
    border-radius: 2.4rem;
    color:darkslategray;
    font-family: inherit;
    font-size: 105%;
}
button:hover {
    background: darkgreen;
  }
  h1.temp {
    margin: 0;
    margin-bottom: 4rem;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  @media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:760px){
    html{
        font-size: 45%;
    }
}